:root {
  --dark-green: #1b5e20;
  --main-green: #2e7d32;
  --light-green: #66bb6a;
  --bg-green: #ecf5ec;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  box-sizing: border-box;
  background:linear-gradient(
     to right,
     rgb(8, 29, 13),
    rgb(56, 86, 38)
  );
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  background-color: #345934;
  border-radius: 20px;
}

.logo-icon {
  color: var(--light-green);
  font-size: 26px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 4px;
  transition: 0.3s ease;
}

.nav-link:hover {
  background-color: var(--main-green);
}

.nav-link.active {
  background-color:rgb(212, 233, 196);
  color: #1b5e20;
  font-weight: bold;
 padding-bottom: 28px;
 position: relative;
 top: 10px;
}